@page
@model IndexModel
@{
    ViewData["Title"] = "Moderation portal";
    var defaultComments = string.Join(Environment.NewLine, [
        "This is great!",
        "I hate this",
        "I hate you"
    ]);
}

<h1>Moderation portal</h1>

<h2>Submit test comments</h2>
<form method="post" asp-page-handler="SubmitComment">
    <div class="form-group mb-2">
        <label for="orchestrator">Orchestrator</label>
        <select class="form-select" name="orchestrator" id="orchestrator">
            <option selected="">Choose orchestrator</option>
            <option value="DurableFunctions">Durable Functions</option>
            <option value="Elsa">Elsa</option>
            <option value="Temporal">Temporal</option>
        </select>
    </div>
    <div class="form-group mb-2">
        <label for="comments">Comments</label>
        <textarea class="form-control" id="comments" name="comments" rows="3" placeholder="Enter comments (one per line)">@defaultComments</textarea>
    </div>
    <button type="submit" class="btn btn-primary mb-3">Send</button>
</form>

<h2>Comment review status</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Orchestrator</th>
            <th>Comment ID</th>
            <th>Comment Text</th>
            <th>Actions/Status</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Items)
        {
            <tr>
                <td>
                    @item.PartitionKey
                </td>
                <td>
                    @item.RowKey
                </td>
                <td>
                    @item.Comment
                </td>
                <td>
                    @if (item.State == WorkflowDemos.Shared.DataStorage.ModerationState.PendingHumanReview)
                    {
                        <form method="post" asp-page-handler="Approve">
                            <input type="hidden" name="partitionKey" value="@item.PartitionKey" />
                            <input type="hidden" name="workflowId" value="@item.ManualApprovalWorkflowId" />
                            <button type="submit">Approve</button>
                        </form>
                        <form method="post" asp-page-handler="Reject">
                            <input type="hidden" name="partitionKey" value="@item.PartitionKey" />
                            <input type="hidden" name="workflowId" value="@item.ManualApprovalWorkflowId" />
                            <button type="submit">Reject</button>
                        </form>
                    }
                    else if (item.State == WorkflowDemos.Shared.DataStorage.ModerationState.PendingAiReview)
                    {
                        <span>Pending AI review</span>
                    }
                    else if (item.State == WorkflowDemos.Shared.DataStorage.ModerationState.ApprovedByAi)
                    {
                        <span>Approved by AI</span>
                    }
                    else if (item.State == WorkflowDemos.Shared.DataStorage.ModerationState.ApprovedByHuman)
                    {
                        <span>Approved by Human</span>
                    }
                    else if (item.State == WorkflowDemos.Shared.DataStorage.ModerationState.Rejected)
                    {
                        <span>Rejected</span>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
